<!DOCTYPE html>
<html lang="pt_Br">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="ManagerService" />
  <meta name="author" content="ManagerService" />
  <title>Login</title>
</head>

<body class="bg-primary">
  <div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
      <main>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-5">
              <div class="card shadow-lg border-0 rounded-lg mt-3">
                <div class="card-header">
                  <h3 class="text-center font-weight-light my-2">{{labelCadastrando ? 'Novo':'Login'}}</h3>
                </div>
                <div class="card-body">
                  <div class="alert alert-success" *ngIf="mensagemSucesso">
                    {{mensagemSucesso}}
                  </div>
                  <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                    {{erro}}
                  </div>
                  <form #loginForm="ngForm" (submit)="onSubmit()">
                    <div class="form-group">
                      <label class="small mb-1" for="username">Usuário</label>
                      <input autofocus class="form-control py-4" [(ngModel)]="username" id="username" name="username" type="email"
                        placeholder="Seu usuário" autocomplete="off"/>
                    </div>
                    <div class="form-group">
                      <label class="small mb-1" for="password">Senha</label>
                      <input class="form-control py-4" [(ngModel)]="password" id="password" name="password"
                        type="password" placeholder="Sua senha" autocomplete="off"/>
                    </div>
                    <div class="form-group" *ngIf="!labelCadastrando">
                      <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="rememberPasswordCheck" type="checkbox" />
                        <label class="custom-control-label" for="rememberPasswordCheck">Lembrar senha</label>
                      </div>
                    </div>
                    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                      <a class="small" href="password.html" *ngIf="!labelCadastrando">Esqueceu a senha?</a>
                      <button type="submit" class="btn btn-primary" *ngIf="!labelCadastrando">Login</button>
                    </div>
                    <button type="button" (click)="cadastrar()" class="btn btn-primary"
                      *ngIf="labelCadastrando">Cadastrar</button>
                    <button type="button" (click)="cancelaCadastro()" class="btn btn-info ml-1"
                      *ngIf="labelCadastrando">Cancelar</button>
                  </form>
                </div>
                <div class="card-footer text-center">
                  <div class="small" *ngIf="!labelCadastrando">
                    <a type="button" (click)="cadastrando($event)" href="#">Criar nova conta!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <div id="layoutAuthentication_footer">
      <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid">
          <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Sudtech 2021</div>
            <div>
              <a href="#">Privacy Policy</a>
              &middot;
              <a href="#">Terms &amp; Conditions</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</body>
</html>
<ngx-spinner></ngx-spinner>
